.chatContainer {
    display: flex;
    justify-content: left;
    /* justify-content: flex-end; */
    margin-bottom: 25px;
    max-width: 319px;
}

.alignLeft {
    justify-content: flex-end;
}

.badge {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.verified {
    position: absolute;
    bottom: 0px;
    right: 0px;

}

.messageContainerOthers {
    background: #FFFFFF;
    color: #606060;
    font-size: 14px;
    padding: 9px;
    width: 287px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0, 0, 0, .35)
}

.messageContainerSelf {
    background: #1C63D5;
    color: #fff;
    font-size: 14px;
    padding: 9px;
    width: 287px;
    border-radius: 5px 0px 5px 5px;
    justify-content: flex-end;

}